* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #21222A;
  color:white;
  background-image: url(/src/assets/react.svg);
  background-repeat: no-repeat;
}

header {
  height: 90px;
  background-color: #21222A;
  padding: 30px 25px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav > img {
  width: 40px;
  margin-right: 7px;
}

nav > span {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}
.list-part{
  margin: 20px;
}
.list-part  h1 {
  margin: 0;
 font-size: 60px;
}
.fax{
  margin-top: 60px;
  max-width: 400px;
}
.fax > li {
  padding-block: 20px;
  line-height: 19px;
}
.fax > li::marker{
  color:#61DAFB;
  font-size: 1.5rem;
  
}
